<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Tests">
    <listeners>
        <listener class-name="common.Listener"/>
    </listeners>
    <suite-files>
        <suite-file path="apiSuite.xml"/>
        <suite-file path="seleniumSuite.xml"/>
    </suite-files>
</suite>
